extends ../layout/layout.pug
block vars
	- var title = 'Фотогалерея детальная';
block header
	include ../includes/header.pug
block content
	include ../includes/content-photo-detail.pug
block footer
	include ../includes/footer.pug