main.main
	.container 
		ul 
			li 
				a(href="main.html") Главная
			li 
				a(href="news.html") Новости
			li 
				a(href="news-detail.html") Новости детальная
			li 
				a(href="lk1.html") Показания
			li 
				a(href="lk2.html") Личный кабинет авторизация
			li 
				a(href="lk3.html") Личный кабинет регистрация